{% extends 'base.html' %}

{% block content %} 
{% load static %}
<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet"> 

<br>
<div>
    <div>
        <h1 class="titulo">Colaboradores</h1>
    </div>


    {% if user.is_authenticated %}
    {% else %}
        <center><a class="btn btn-danger" href="{% url 'users_app:user_register' %}">Registrarte para obtener descuentos</a></center>
    {% endif %}
    

        
   
    <hr>
    <!--Tarjetas-->
    <div class="container ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for c in lista_colaboradores %}
            <div class="col">
                <div class="card">
                    {% if c.image %}
                    <img class="tarjeta-colab" src="{{c.image.url}}" alt="Card image cap">
                    {% endif %}
                    <div class="card-body">
                        <center><h1>{{c.title}}</h1></center>
                        <br>
                        <strong class="card-text"><h5>Quienes Somos:</h5></strong>
                        {{c.content}}

                        <br> <br>
                        
                        {% if user.is_authenticated %}
                        <div>
                            <strong class="card-text">Codigo de descuento:</strong>
                            {{c.descuento}}
                        </div>
                        {% else %}

<!--                        <center><a class="btn btn-danger" href="{% url 'users_app:user_register' %}">Registrarte para obtener descuentos</a></center>  -->
                        {% endif %}

                        <br>
                        <center><a class="btn btn-primary btn-info btn-info-hover" href="{{c.url}}"target="_blank">Visita Nuestra pagina</a></center>
                    </div>
                </div>
            </div>
            {% empty %}
                  
            <div class="container">
              <h3>No hay Colaboradores registrados</h3>
            </div> 
            {% endfor %}
        </div>
       
    </div>

</div>
<br>




{% endblock %}