{% extends 'base.html' %}
{% load static %}


{% block content %} 
<link href="{% static 'css/home.css' %}" type="text/css" rel="stylesheet">

<!-- Carrusel-->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="{% static 'img/slider1.jpg' %}" class="d-block w-100" alt="50">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'img/slider2.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="{% static 'img/slider3.jpg' %}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Fin Carrusel-->

  <br>
  <div class="Sub1">Ultima información</div>
  <hr>
  <!--Tarjetas-->
   <div class="grid-container">
    <div class="grid-item">
        <div class="card" >
          <a href="{% url 'admin_app:colaboradores' %}">
            <img class="card-img-top imagen-carta" src="{% static 'img/card1.jpg' %}" alt="Card image cap">
          </a>
            <div class="card-body">
              <p class="titulo-home">La organización animalista Peludos</p>
            <p class="card-text texto">Nuestros colaboradores de la organización animalista peludos invitan a informar sobre la presencia de animales
              en situacion de calle para poder darles un albergue, ya que se ha informado que este invierno sera uno de los mas duros del ultimo tiempo.
            </p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card" >
          <a href="{% url 'admin_app:colaboradores' %}">
            <img class="card-img-top imagen-carta"src="{% static 'img/card2.jpeg' %}" alt="Card image cap">
          </a>
            <div class="card-body">
              <p class="titulo-home">La campaña por adoptar aumenta este mes </p>
            <p class="card-text texto">La campaña 'No Compres ¡Adopta!' ha sido un exito, sumate. ¿Como hacerlo? Dirigete a tu albergue mas cercano y realiza la adopción
              de una mascota.</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card" >
            <a href="{% url 'home_app:servicios' %}">
              <img class="card-img-top imagen-carta" src="{% static 'img/card3.jpg' %}" alt="Card image cap">
            </a>
            <div class="card-body">
              <p class="titulo-home">Al solicitar algun servicio ayudas a miles de animales</p>
            <p class="card-text texto">Por cada vez que hagas uso de servicios en PawCare nosotros donaremos 10% del coste total del servicio a fundaciones animalistas y albergues de acogida
              de animales.</p>
            </div>
        </div>
    </div>   
  </div>
  <!--Fin Tarjetas-->

{% endblock %}
