{% extends 'base.html' %}

{% block content %} 
{% load static %}

<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'css/tarjetacuidador.css' %}" type="text/css" rel="stylesheet">
<script  src="{% static 'js/calificacion.js' %} "></script> 
<script  src="{% static 'js/reserva.js' %} "></script> 

<br>
<div>
    <div>
        <h1 class="titulo">Cuidadores</h1>
    </div>
    <hr>
    <!--Tarjetas-->
    <div class="container ">
        <div class="row">

        </div>

      <form method="GET" > {%csrf_token%}


        
       <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <button class="btn btn-info" type="submit" id="kword" name="kword" value="" >Todos</button>
        </label>
        <label class="btn btn-warning active">
          <button class="btn btn-info" type="submit" id="kword" name="kword" value="Cuidado a domicilio" >Cuidado a domicilio</button>
        </label>
        <label class="btn btn-warning">
          <button class="btn btn-info" type="submit" id="kword" name="kword" value="Peluqueria" >Peluqueria</button>
        </label>
        <label class="btn btn-warning">
          <button class="btn btn-info" type="submit" id="kword" name="kword" value="Transporte de Mascota" >Transporte de Mascota</button>
        </label>
      </div> 

    </form>
    <br>
    <p>

      <!-- <form method="GET" > {%csrf_token%}
        <input class""  type="text" id="nombre" name="nombre" placeholder="Ingrese nombre">
        <button type="submit">Buscar</button>
      </form> -->

      <form method="GET" > {%csrf_token%}
        <div class="input-group mb-3">
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese nombre" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-info" type="submit" id="button-addon2">Buscar</button>
        </div>
      </form>
  </p>
      <br>
        
        <div class="row row-cols-2 row-cols-md-4 g-4">
            {% for c in lista_cuidadores %}

            <div class="col" width="240px">
                <div class="card" width="240px">
                    <img class="card-img-top" src="{{c.profile.picture.url}}" width="240px">
                    <div class="card-body">
                        <h5>{{c.nombres}} {{c.apellidos}}</h5>
                        <p class="card-text">{{c.profile.descripcion}}</p>
                        {% for servicios in c.profile.servicios.all %}
                        <span class="badge bg-primary">{{ servicios.nombre  | upper }}</span>
                      {% endfor %} 

                      {% for cronograma in c.cronograma.all %}
<!--                      <span class="badge bg-primary">{{ cronograma.fechaReserva  | upper }}</span>
                      <span class="badge bg-primary">{{ cronograma.horas  | upper }}</span> 
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Fecha:</th>
                            <th scope="col">{{ cronograma.fechaReserva  | upper }}</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Horas:</th>
                            <td>{{ cronograma.horas.horaInicio  | upper }}-{{ cronograma.horas.horaFin  | upper }}</td>

                          </tr>
                        </table> -->
                      {% endfor %}



                        <div>{{c.promediocalificacion}}</div>
                        <div id="calificacion_estrellas">
                            <script>
                                document.write(generarEstrellas({{c.promediocalificacion}}));
                            </script>
                        </div>
                        <br>
                        {%if request.user.categoria == '1' %}
             <!--           <div>
                            <button type="button" class="btn btn-primary" onclick="abrir_modal3('{% url 'users_app:vista_reserva'  %}');">Reservar</button>
                            
                        </div>
                        <br> -->
                        <div>
                            <a type="button" class="btn btn-primary btn-info btn-info-hover" href="{% url 'users_app:cuidadores3' c.id %}">Reservar</a>
                        </div> 
                        {% endif%}


                    </div>
                </div>
                <div id="reservar"></div>
            </div>
            {% empty %}
                  
            <div class="container">
              <h3>No hay Cuidadores en este momento</h3>
            </div> 
            {% endfor %}
        </div>
        
    </div>

</div>
<br>

{% endblock %}