.titulo{
    color:#ff7d00 ;
    text-indent: 50px;
    font-size: 2.5em;
    font-family: 'Roboto', sans-serif;
}


.btn-info{
    background-color: #06BEE1;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
}

.btn-info:hover{
    background-color: #FF7d00;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0; 
}

.buttonnf{
    color: white;
    text-decoration: none;
}

.buttonnf-hover:hover{
    color: white;
    text-decoration: none;
}

.imagen-colab{
    width: 350px;
    height: 250px;
}

.estrella {
    color: #fad905;
    font-size: 30px; 
  }

.tarjeta-colab{
    height: 300px;
    width: 400px;
}