#img_actual{
    width: 250px; 
    height: 250px;
    justify-self: center;
}

.btn-info{
    background-color: #06BEE1;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0;
}

.btn-info:hover{
    background-color: #FF7d00;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    border: 0; 
}

.card{
    border: 0px;
    justify-content: center;
    text-align: center;
    display: grid;
}

