{% extends 'base.html' %}

{% block content %} 

{% load static %}
<link rel="stylesheet" href="{% static 'css/calendario.css' %}">
<script  src="{% static 'js/calendario.js' %} "></script>

{% comment %} {% for c in calendario %}
<td>{{c.fechaReserva}}</td>
<td>{{c.horaInicio}}</td>
<td>{{c.horaFin}}</td>
<td>{{c.estado}}</td>

{%endfor%} {% endcomment %}


<div class="container">

  <div id="horas-container">
    <div class="select-container">
      <form action="#" method="POST">
        {% csrf_token %}
    
        {{ form.as_p }}

         
       <!-- <div class="container ">
          <div class="row">
            <div class="col md-6">
            <button type="button" id="agregar-btn" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'users_app:horas'  %}');">Agregar Hora</button><div class="row"> 
            <a href="{% url 'users_app:horaseliminar'  %}" class="btn btn-danger">Eliminar Horas</a> 
          </div>
        </div> -->

        <div class="container">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-3">
                  <button type="button" id="agregar-btn" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'users_app:horas'  %}');">Agregar Hora</button>
                </div>
                <div class="col-3">
                  <a href="{% url 'users_app:horaseliminar'  %}" class="btn btn-danger">Eliminar Horas</a>
                </div>
              </div>
            </div>
          </div>
        </div>


         <!--<div class="container">
          <div class="row">
            <button type="button" id="agregar-btn" class="btn btn-primary" onclick="abrir_modal_creacion('{% url 'users_app:horas'  %}');">Agregar Hora</button>
          </div>
          <div class="row">
            <a href="{% url 'users_app:horaseliminar'  %}" class="btn btn-danger">Eliminar Horas</a>
          </div>
        </div>-->

         <!--<div class="container">
          <a href="{% url 'users_app:horaseliminar'  %}" class="btn btn-danger">Eliminar Horas</a>
         </div>-->
        
   
        
          

        <br>
      </form>
    </div>
  </div>




  {% comment %} <div>
    <h2>Lista de horas para calendario</h2>
    <table class="table"> 
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Fin</th>
                <th>Estado</th>


            </tr>
        </thead>
        <tbody>
          {% for c in calendario %}
            <tr>
              <td>{{c.fechaReserva}}</td>
              <td>{{c.horas.horaInicio}}</td>
              <td>{{c.horas.horaFin}}</td>
              <td>{{c.estado}}</td>
              
              




              


                  {% if c.image %}
                  <img src="{{c.image.url}}" width="100px" height="100px" alt="">
                  {% endif %}
            </tr>
            {%endfor%}
        </tbody>
    </table>

  </div>
</div> {% endcomment %}




<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          locale:'es',
          headerToolbar:{
            left:'prev,next,today',
            center:'title',
            right:'dayGridMonth,timeGridWeek,listWeek',
          },
          events: [
            {% for c in calendario %}
              {
                title: '{{ c.estado  }}  / {{ c.horas.horaInicio | upper}}-{{c.horas.horaFin | upper}}',
                start: '{{ c.fechaReserva  | date:"Y-m-d" }}',
                

              },
            {%endfor%}
          ]
            

        });
        calendar.render();
        calendar.setOptions('locale', 'es');

      });
      
/*      function agregarFila(){

        var contadorFilas = 1;
        var nuevaFila = '<div class="select-container">' +
                                    '<form id="hora-form-' + contadorFilas + '" method="POST" action="">' +
                                        '{% csrf_token %}' +
                                        '{{ form.as_p }}' +
                                        '<button class="eliminar-btn">-</button>' +
                                    '</form>' +
                                '</div>';

        $('#horas-container').append(nuevaFila);

        contadorFilas++;

        actualizarIDs();
      }

                  // Eliminar la fila correspondiente al botón presionado
      function eliminarFila(btn) {
        $(btn).parent('.select-container').remove();

            // Actualizar los IDs únicos de los formularios y botones
          actualizarIDs();
      }

      // Actualizar los IDs únicos de los formularios y botones
      function actualizarIDs() {
          $('.select-container').each(function(index) {
              var formID = 'hora-form-' + (index + 1);
              //var btnID = 'eliminar-' + (index + 1);
              $(this).find('form').attr('id', formID);
              $(this).find('.eliminar-btn').attr('id', btnID);
          });
      }

      // Manejador de evento para el botón "Agregar"
      $('#agregar-btn').on('click', function() {
          agregarFila();
      });

      // Manejador de evento para el botón "Eliminar"
      $(document).on('click', '.eliminar-btn', function() {
          eliminarFila(this);
      }); */

    </script>

    </script>
  </head>
  <body>
    <div class="container">
    <div id='calendar'></div>

    <div id='hora'></div>

    </div>
  </body>



</html>



{% endblock %}