
<div class="modal fade" id="myModalCreateHora" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrar Hora</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="container">
              <form action="{% url 'users_app:horas' %}" method="POST">
                  {% csrf_token %}

                  {{ form.as_p }}

                 <div class="d-grid">
                      <button type="submit" class="btn btn-info">Guardar</button>
                  </div>
                <!--<div class="d-grid">
                  <button type="submit" class="btn btn-info">Registrar</button>
                </div>-->
                  <br>
                </form>
            </div>

          </div>
        </div>
      </div>
    </div>
</div>

            
