<!DOCTYPE html>
<html>
<head>
<title>Reestablecer Contraseña</title>
</head>
<body>
   
    <h3>Hola {{ user.username }} estas recibiendo este correo porque solicistaste un cambio de Contraseña en {{ site_name }}.</h3>
    <h3>Ingresa a la siguente pagina para reestablecer tu contraseña: </h1>
    {% block reset_link %}
    <h3>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</h3>
    {% endblock %}
    <h3>Gracias por usar nuestro sitio</h1>    
    <h3>Equipo de {{ site_name }} .</h3>
    
    
</body>
</html>