{% extends 'base.html' %}

{% block content %} 

{% load static %}


<style>
    .bg{
        background-image: url({% static 'img/fotoparaloginn.jpg' %});
        background-position: center center;
        width:100%;
        alt:100%;
        border-radius:5px;
    }
</style>

<br>
<br>
<div class="container w-75 bg-primary mt-5 rounded shadow">
    <div class="row align-item-stretch">
        <div class="col bg d-none d-lg-block rounded">
        </div>
        
        <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
                <img src="{% static 'img/logoup.png' %}" width="78" alt="" >
            </div>
        

        
        <div class="col bg-white p-5 rounded-end">
            <h2 class="fw-bold text-center pt5 mb-5">Recuperar Contraseña</h2>
            <h4>Ingresa tu nueva contraseña</h4>
            <br>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <br>
                <br>


                <div class="d-grid">
                    <button type="submit" class="btn btn-info">Ingresar</button>
                </div>
            </form>
            

                
        </div>
        </div>
    </div>
</div>

{% endblock %}