{% extends 'base.html' %}

{% block content %} 

{% load static %}

<link href="{% static 'css/global.css' %}" type="text/css" rel="stylesheet">

<link href="{% static 'css/perfil_update_forms.css' %}" type="text/css" rel="stylesheet">

<br>
<div class="container">
    <h2 class="titulo">Editar Perfil</h2>
     {% if 'ok' in request.GET %} 
         <div class="alert alert-success" role="alert">
            El Perfil  se ha actualizado correctamente 
            <span>
                <a class="btn btn-sm btn-success" href="{% url 'users:profile' user.username %}" id="">Ver mi Perfil</a>
            </span>
        </div>
    {% endif %} 
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
<br>
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group ">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-5" >
                                    <img src="{{profile.picture.url}}" class="rounded-circle img-fluid card-img-top"  id="img_actual">
                                    <div class="card-body">
                                        {{ form.picture.label}}
                                        {{ form.picture}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-sm-4">

                                
                             <!--   <div class="form-group">
                                    {{ form.region.label}}
                                    {{ form.region}}
                                    
                                </div> <br>
                                <div class="form-group">
                                    {{ form.comuna.label}}
                                    {{ form.comuna}}
                                    
                                </div><br>
                                <div class="form-group">
                                    {{ form.direccion.label}}
                                    {{ form.direccion}}
                                    
                                </div> <br>-->

                                <div class="form-group">
                                    {{ form.descripcion.label}}
                                    {{ form.descripcion}}
                                    
                                </div> <br>



                                {%if request.user.categoria == '2' %}
                                <div class="form-group">
                                    {{ form.servicios.label}}
                                    {{ form.servicios}}
                                </div> 
                                {%endif%}
                                
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    <div class="col-12">
        <div class="row">
            <div class="text-end col-6">
                <button class="btn btn-lg btn-info" type="button" value="Cancelar" id="cancelar">
                    <a class="buttonnf buttonnf-hover" href="{% url 'users:profile' username=user.username %}">Cancelar</a>
                </button>
            </div>
            <div class="text-start col-6">
                <input class="btn btn-lg btn-info" type="submit" value="ACTUALIZAR PERFIL">
            </div>
        </div>
       


        
    </div>
</div>
    
        
    </form>
</div>
<br>

<script src="{% static 'js/fotoperfil.js' %}"></script>



{% endblock %}