<!--YA NO SE USA PORQUE AGREGUE EL HTML EN LISTAHORASUSER.HTML-->
<!--<div class="modal fade" id="myModalRatings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Calificar Servicio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="stars">
                            
                            <form action="#" method="POST">
                                {% csrf_token %}

                                <input type="hidden" value="{{id}}" id="id_usuario">
                                {{ form.as_p }}
                
                            
                                <div class="mb-4"></div>
                            </form>
                            <span class="star" data-rating="1"><i class="far fa-star"></i></span>
                            <span class="star" data-rating="2"><i class="far fa-star"></i></span>
                            <span class="star" data-rating="3"><i class="far fa-star"></i></span>
                            <span class="star" data-rating="4"><i class="far fa-star"></i></span>
                            <span class="star" data-rating="5"><i class="far fa-star"></i></span>
                        </div>
                          <button id="save-rating" class="btn btn-primary">Guardar Calificación</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
