
{% extends 'base.html' %}

{% block content %} 

{% load static %}

<link rel="stylesheet" href="{% static 'css/formulario.css' %}" >
<style>
    .bg{
        background-image: url("{% static 'img/fotopararegistro.png' %}");
        background-position: center center;
        width:100%;
        alt:100%;
        border-radius:5px;
    }
</style>



<div class="container w-100 bg-primary mt-5 rounded shadow">
    <div class="row align-item-stretch">
        <div class="col bg d-none d-lg-block rounded">
        </div>

        
        <div class="col bg-white p-20 rounded-end">
            <div class="text-end">
                <img src="{% static 'img/logoup.png' %}" width="78" alt="" >
            </div>
            <h2 class="fw-bold text-center pt5 mb-5">Registro de usuario</h2>


            <!-- {% if 'ok' in request.GET %} 
            <div class="alert alert-success" role="alert">
               Bienvenido tu Cuenta fue Creada con Exito 
               <span>
                   <a class="btn btn-sm btn-success" href="{% url 'users_app:user_login' %}" id="">Iniciar Sesion</a>
               </span>
           </div>
             {% endif %}  -->

            <form action="" method="POST" class="formulario" id="formulario" > 
                {% csrf_token %} 
                <!-- Grupo: Usuario -->
                <div class="formulario__grupo" id="grupo__username">
                    <label for="id_username" class="formulario__label">Nombre de usuario</label>
                    <div class="formulario__grupo-input">
                     <!--   <input type="text" class="formulario__input" name="usuario" id="usuario" placeholder="Gatito23"  > -->
                        {{ form.username }}
                        {% for e in  form.username.errors %}
                        <p style="color:red;">{{ e }}</p>
                      {% endfor %}

                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede contener numeros, letras y guion bajo.</p>
                </div>

                <!-- Grupo: Correo Electronico -->
                <div class="formulario__grupo" id="grupo__email">
                    <label for="id_email" class="formulario__label">Correo Electrónico</label>
                    <div class="formulario__grupo-input">
                    <!--    <input type="email" class="formulario__input" name="correo" id="correo" placeholder="correo@correo.com" > -->
                        {{ form.email }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                </div>
                <!-- Grupo: Rut -->
                <div class="formulario__grupo" id="grupo__rut">
                    <label for="id_rut" class="formulario__label">Rut</label>
                    <div class="formulario__grupo-input">
                    <!--    <input type="text" class="formulario__input" name="rut" id="rut" placeholder="11111111-1" > -->
                        {{ form.rut }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">El rut debe ser ingresado sin punto ni guion,si lleva una k remplazela por un 0.</p>
                </div>
    
                <!-- Grupo: Nombre -->
                <div class="formulario__grupo" id="grupo__nombres">
                    <label for="id_nombres" class="formulario__label">Nombre</label>
                    <div class="formulario__grupo-input">
                    <!--    <input type="text" class="formulario__input" name="nombre" id="nombre" placeholder="Ingresa tus nombres"  > -->
                        {{ form.nombres }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Este campo solo permite letras en Mayusculas y minusculas.</p>
                </div>

                <!-- Grupo: Apellidos -->
                <div class="formulario__grupo" id="grupo__apellidos">
                    <label for="id_apellidos" class="formulario__label">Apellidos</label>
                    <div class="formulario__grupo-input">
                    <!--    <input type="text" class="formulario__input" name="apellido" id="apellido" placeholder="Ingresa tus apellidos"  > -->
                        {{ form.apellidos }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Este campo solo permite letras Mayusculas y minusculas.</p>
                </div>

                <!-- Grupo: Teléfono -->
                <div class="formulario__grupo" id="grupo__telefono">
                    <label for="id_telefono" class="formulario__label">Teléfono</label>
                    <div class="formulario__grupo-input">
                        <!--<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567" >-->
                        {{ form.telefono }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">El telefono solo puede contener 9 dígitos.</p>
                </div>

                <!-- Grupo: Region -->
                <div class="formulario__grupo" id="grupo__region">
                    <label for="id_region" class="formulario__label">Ciudad</label>
                    <div class="formulario__grupo-input">
                        <!--<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567" >-->
                        {{ form.region }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error"></p>
                </div>

                <!-- Grupo: Comuna -->
                <div class="formulario__grupo" id="grupo__comuna">
                    <label for="id_comuna" class="formulario__label">Comuna</label>
                    <div class="formulario__grupo-input">
                        <!--<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567" >-->
                        {{ form.comuna }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error"></p>
                </div>

                <!-- Grupo: Direccion -->
                <div class="formulario__grupo" id="grupo__direccion">
                    <label for="id_direccion" class="formulario__label">Direccion</label>
                    <div class="formulario__grupo-input">
                        <!--<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567" >-->
                        {{ form.direccion }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Debe Ingresar una direccion</p>
                </div>




                <!-- Grupo: Tipo de usuario -->

                <div class="formulario__grupo" id="grupo__tipousuario">
                    <label for="categoria" class="formulario__label">Selecciona el tipo de usuario</label>
                    <div class="formulario__grupo-input">
                        <!--<input type="text" class="formulario__input" name="telefono" id="telefono" placeholder="4491234567" >-->
                        {{ form.categoria }}
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Debes marcar una opcion.</p>
                </div>


    
                <!-- Grupo: Contraseña -->
                <div class="formulario__grupo" id="grupo__password1">
                    <label for="id_password1" class="formulario__label">Contraseña</label>
                    <div class="formulario__grupo-input">
                    <!--    <input type="password" class="formulario__input" name="password" id="password"  >-->
                        {{ form.password1 }}

                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">La contraseña tiene que ser de 4 a 12 dígitos.</p>
                </div>
    
                <!-- Grupo: Contraseña 2 -->
                <div class="formulario__grupo" id="grupo__password2">
                    <label for="id_password2" class="formulario__label">Repetir Contraseña</label>
                    <div class="formulario__grupo-input">
                    <!--<input type="password" class="formulario__input" name="password2" id="password2" > -->
                       {{ form.password2 }}
                       {% for e in  form.password2.errors %}
                       <p style="color:red;">{{ e }}</p>
                     {% endfor %}

                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <p class="formulario__input-error">Ambas contraseñas deben ser iguales.</p>
                </div>
    

    

    

    
                <div class="formulario__mensaje" id="formulario__mensaje">
                    <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario correctamente. </p>
                </div>
                <br>
                <div class="formulario__grupo formulario__grupo-btn-enviar">
                    <button type="submit" class="formulario__btn">Registrarse</button>
                    <br><br><br>
                    <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Formulario enviado exitosamente!</p>
                </div>
            </form>         
        </div>
    </div>
</div> 
<br>


<script src="{% static 'js/formulario.js'%}"></script>







{% endblock %}